/eureka-server/target/
/eureka-server/.classpath
/eureka-server/.project
/eureka-server/.settings/
/metallica-api-gateway/target/
/metallica-api-gateway/.classpath
/metallica-api-gateway/.project
/metallica-api-gateway/.settings/
